.homepage {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    // width: 100vw;
    // border: 2px soldi yellow;
}

.d-flex {
    margin: auto;
    justify-content: space-between;
    padding: 10px;
    width: 95%;
    // border: 1px solid black;


}

.d-flex {

    input {
        width: 200px;
    }

    button {
        margin-left: 5px;
    }

    justify-content:space-between;

}

.table thead {


    font-weight: bold;

}