.d-flex {
    justify-content: space-between;
    // border: 1px solid black;

}

input {
    margin-left: 2px;
    height: 40px;

}

select {
    margin-left: 2px;
    height: 40px;
}

.form-control {
    width: 400px;
}

#btn {
    height: 40px;
    width: 300px;
}