.d-flex {
    justify-content: space-between;
    // border: 1px solid black;
    width: 90%;

}

.container {
    position: relative;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}






input {
    margin-left: 2px;
    height: 40px;

}

select {
    margin-left: 2px;
    height: 40px;
}

.form-control {
    width: 400px;
}

#btn {
    height: 40px;
    width: 300px;
}